In [5]:
from flask import Flask, jsonify, request
import pandas as pd
import json

df_team = pd.read_csv('DE.csv',sep=',',low_memory=False)
df_team

/home/saurav/.local/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

   id                  name      address
0   1   Amrit Prasad Phyual      Mulpani
1   2      Baburam Shrestha    Kathmandu
2   3         Memosha Joshi  Putalisadak
3   4        Pradip Sapkota      Pyuthan
4   5      Pallavi Shrestha     Lalitpur
5   6           Pujan Dahal    Kathmandu
6   7          Saurav Karki    Rupandehi
7   8  Shijal Sharma Poudel    Kathmandu

In [6]:
df_team.loc[df_team.id==1]

   id                 name  address
0   1  Amrit Prasad Phyual  Mulpani

In [9]:
json_string = df_team.to_json(orient='records')
print(json_string)

[{"id":1,"name":"Amrit Prasad Phyual","address":"Mulpani"},{"id":2,"name":"Baburam Shrestha","address":"Kathmandu"},{"id":3,"name":"Memosha Joshi","address":"Putalisadak"},{"id":4,"name":"Pradip Sapkota","address":"Pyuthan"},{"id":5,"name":"Pallavi Shrestha","address":"Lalitpur"},{"id":6,"name":"Pujan Dahal","address":"Kathmandu"},{"id":7,"name":"Saurav Karki","address":"Rupandehi"},{"id":8,"name":"Shijal Sharma Poudel","address":"Kathmandu"}]